.row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.col{
  margin: 1rem;
  width: 20rem;
  max-width: 20rem;
}

code{
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 10px;
  border: 1px dotted lemonchiffon;
  background-color: lemonchiffon;
  font-weight: bold;
}
